/* common */

:root {
  /* common */
  --transition-duration: 200ms;

  /* palette */
  --webdev-black: #000000;
  --webdev-dark: #373737;
  --webdev-blue: #00afdb;
  --webdev-blue-hover: #009cc2;
  --webdev-darkgray: #4e4e4e;
  --webdev-lightgray: #f5f6f7;
  --webdev-white: #ffffff;

  /* social network colors */
  --webdev-social-facebook: #1877f2;
  --webdev-social-instagram: #c32aa3;
  --webdev-social-youtube: #ff0000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img, svg {
  max-width: 100%;
  display: block;
}

/* container */

.container {
  width: 100%;
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px;
}

/* icon */

.icon {
  flex-shrink: 0;
  fill: inherit;
  transition: fill var(--transition-duration) linear;
}

/* grid */

.grid {
  padding: 0 15px;
}

.grid__row {
  display: flex;
  margin: 0 -15px;
}

.grid__column {
  flex: 1 1 auto;
  padding: 0 15px;
}

.grid__column--5 {
  flex: 0 0 41.666667%;
}

.grid__column--6 {
  flex: 0 0 50%;
}

.grid__column--7 {
  flex: 0 0 58.333333%;
}

/* main-button */

.main-button {
  position: relative;
  display: inline-block;
  min-width: 184px;
  padding: 15px 24px;
  color: var(--webdev-white);
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: var(--webdev-blue);
  border: none;
  border-radius: 0;
  fill: var(--webdev-white);
  transition: background-color var(--transition-duration) linear;
  cursor: pointer;
}

.main-button--has-icon {
  display: inline-flex;
  align-items: center;
  min-width: 188px;
  padding: 17px 19px;
  padding-right: 78px;
}

.main-button__icon-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 100%;
  background-color: var(--webdev-blue-hover);
}

.main-button:hover {
  background-color: var(--webdev-blue-hover);
}

/* strong */

.strong {
  color: var(--webdev-dark);
  font-weight: 500;
}

/* sr-only */

.sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  white-space: nowrap !important;
  border: 0 !important;
  overflow: hidden !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  clip-path: inset(50%) !important;
}

/* page */

.page__body {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  color: var(--webdev-darkgray);
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.4;
}

.page__header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

/* page-header */

.page-header {
  padding: 25px 0;
}

/* site-navigation */

.site-navigation {
  height: 95px;
  color: var(--webdev-white);
  overflow: hidden;
}

.site-navigation__list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation__logo {
  flex-shrink: 0;
  margin: 0 100px;
}

.site-navigation__item {
  min-width: 138px;
  text-align: right;
}

.site-navigation__logo ~ .site-navigation__item {
  text-align: left;
}

.site-navigation__link {
  position: relative;
  display: inline-block;
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
  transition: opacity var(--transition-duration) linear;
}

.site-navigation__link:hover {
  opacity: 1;
}

.site-navigation__link--active {
  font-weight: 500;
  opacity: 1;
}

.site-navigation__link--active::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: currentColor;
}

/* site-logo */

.site-logo__link {
  display: block;
  transition: opacity var(--transition-duration) linear;
}

.site-logo__link:hover {
  opacity: 0.8;
}

/* hero-section */

.hero-section {
  display: flex;
  /* add min-height: 100vh */
  min-height: 744px;
  padding: 95px 0 89px;
  color: var(--webdev-white);
  background-color: var(--webdev-black);
  background-image: url("assets/img/hero-section-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-section__layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-section__content {
  margin: auto 0;
  text-align: center;
}

.hero-section__title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 64px;
  line-height: 75px;
  letter-spacing: 4.5px;
  text-transform: uppercase;
}

.hero-section__subtitle {
  max-width: 504px;
  margin: 0 auto 30px;
  font-size: 18px;
}

/* contact-section */

.contact-section {
  padding-top: 47px;
  color: var(--webdev-white);
}

.contact-section__list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.contact-section__item {
  margin-right: 30px;
}

.contact-section__item:last-child {
  margin-right: 0;
}

.contact-section__link {
  color: inherit;
  fill: currentColor;
}

.contact-section__link:hover .icon {
  fill: var(--webdev-blue-hover);
}

.contact-section__link--facebook:hover .icon {
  fill: var(--webdev-social-facebook);
}

.contact-section__link--instagram:hover .icon {
  fill: var(--webdev-social-instagram);
}

.contact-section__link--youtube:hover  .icon{
  fill: var(--webdev-social-youtube);
}

/* page-section */

.page-section {
  padding: 120px 0 140px;
  background-color: var(--webdev-white);
}

.page-section__column {
  flex: 0 0 50%;
  padding: 0 15px;
}

.page-section__content-wrapper {
  display: flex;
  align-items: center;
}

.page-section__title {
  margin: 0;
  margin-bottom: 20px;
  color: var(--webdev-dark);
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.page-section__title--sm {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2.4px;
}

.page-section__paragraph {
  margin: 0;
  margin-bottom: 30px;
  line-height: 20px;
}

.page-section__paragraph:last-child {
  margin-bottom: 0;
}

.page-section__illustration {
  width: 407px;
  margin: 0 auto;
}

/* represent */

.represent__content {
  max-width: 515px;
  padding-left: 108px;
}

/* our-community */

.our-community {
  background-color: var(--webdev-lightgray);
  overflow: hidden;
}

.our-community__content {
  max-width: 298px;
  margin: 0 auto;
  text-align: center;
}

.our-community__thumb {
  width: 45px;
  height: 45px;
  margin: 0 auto 20px;
  border-radius: 50%;
}

.our-community__carousel {
  margin-top: -43px;
}

/* carousel */

.carousel {
  max-width: 100%;
}

.carousel__info {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 18px;
  padding-right: 104px;
  color: var(--webdev-dark);
  font-size: 18px;
}

.carousel__button {
  position: relative;
  width: 16px;
  height: 16px;
  margin: 0;
  padding: 0;
  color: inherit;
  background-color: transparent;
  border: none;
  border-radius: 0;
  fill: currentColor;
  cursor: pointer;
}

.carousel__button--previous {
  transform: scaleX(-1);
}

.carousel__button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 32px;
  height: 32px;
  transform: translate(-50%, -50%);
}

.carousel__button:hover {
  fill: var(--webdev-blue-hover);
}

.carousel__button:focus {
  outline: none;
}

.carousel__counter {
  display: flex;
  align-items: baseline;
  margin: 0 7px;
  letter-spacing: 4px;
}

.carousel__separator {
  font-weight: 500;
}

.carousel__track {
  display: flex;
}

.carousel__slide {
  flex-shrink: 0;
  margin-right: 30px;
}

.carousel__slide:last-child {
  margin-right: 0;
}

/* implement */

.implement__content {
  max-width: 407px;
}

.implement__button {
  min-width: 180px;
}

/* subscribe */

.subscribe {
  padding: 217px 0 277px;
  color: var(--webdev-white);
  background-color: var(--webdev-blue-hover);
  background-image: url("assets/img/subscribe-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe__form {
  max-width: 406px;
  margin: 0 auto;
  text-align: center;
}

.subscribe__title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.subscribe__input-group {
  display: flex;
}

.subscribe__input {
  flex: 1 1 auto;
  padding: 14px 24px 12px;
  color: var(--webdev-dark);
  font-size: 14px;
  line-height: 1.4;
  background-color: var(--webdev-white);
  border: none;
  border-radius: 0;
}

.subscribe__input:focus {
  outline: none;
}

.subscribe__input::placeholder {
  color: var(--webdev-dark);
}

.subscribe__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: auto;
  width: 66px;
  height: 46px;
  padding: 0;
}

/* download */

.download__content {
  max-width: 482px;
  margin: 0 auto;
  text-align: center;
}

.download__buttons {
  display: flex;
  justify-content: center;
}

.download__button {
  margin-right: 30px;
}

.download__button:last-child {
  margin-right: 0;
}
